@model LakewoodVolunteerCorp.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignUps)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Duty Title</th>
                    <th>Performance</th>
                </tr>
                @foreach (var item in Model.SignUps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duty.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Performance)
                        </td>
                    </tr>
                }
             </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
